image app.vfat {
	vfat {
		files = {
			"big-core/app",
		}		
	}
	# empty =true
	size = 1024M
}

image sysimage-sdcard.img {
	hdimage {
		gpt = "true"
	}
	
	partition uboot_spl_1 {
		#512k@1M   0x400@0x800
		in-partition-table = false
		offset = 1M
		image = "little-core/uboot/fn_u-boot-spl.bin"
	}
	partition uboot_spl_2 {
		#512k@1.5M   0x800@0xc00
		in-partition-table = false
		offset = 0x180000
		image = "little-core/uboot/fn_u-boot-spl.bin"
	}
	partition uboot_env {
		in-partition-table = false
		offset = 0x1e0000
		image = "little-core/uboot/env.env"
		size = 0x20000
	}
	partition uboot {
		#1.5m@2M   0xc00@0x1000
		in-partition-table = false
		offset = 2M
		image = "little-core/uboot/fn_ug_u-boot.bin"
	}
	# partition env {
	# 	#128k@3.5M   0x800@0x1c00
	# 	in-partition-table = false
	# 	offset = 0x380000
	# 	#image = "../little/uboot/u-boot.img"
	# }

    partition rtt {
		#20M@10M   0x800@0x800
		offset = 10M
		image = "big-core/rtt_system.bin"
		size = 20M
	}

    partition linux {
		#50M@30M   0x800@0x800
		offset = 30M
		image = "little-core/linux_system.bin"
		size = 50M
	}

	partition rootfs {
		offset = 128M 
		partition-type = 0x83
		image = "little-core/rootfs.ext4"
	}

	partition fat32appfs {
		#offset = 168M
		partition-type = 0xc
		# size = 32M
		image = "app.vfat"
	}
}