if TARGET_K230_SIPLP4

config SYS_CPU
	default "k230"
    
config SYS_VENDOR
    default "canaan"

config SYS_BOARD
    default "k230_siplp4"

config SYS_CONFIG_NAME
    default "k230_evb"


config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select RISCV_THEAD

choice
	prompt "ddr typy freq"
	default SIPLP4_3200_WALLODT

    config SIPLP4_3200_WODT
        bool  "sip ddr4 3200 with write odt"
        
    config SIPLP4_3200_WALLODT
        bool  "sip ddr4 3200 with all odt"  
endchoice 

endif
